/* 	Best Practice For Later:
/ 	*CSS Reset for safety reasons   -----> Normalize.css may be a better alt ((Pure. Base))
/	*Optimize your images!! -try Smush It-
/	*Use conditional comments (for browser variation)
/	*Place JS file at bottom
/	*test different browsers as you build
/	*Dont use @import, bc it's slow
*/

/*	CHECK THIS OUT:: 
	WEB FUNDAMENTALS BY GOOGLE DEV		https://developers.google.com/web/fundamentals/?hl=en */

html {
	background-image: url(img/DeathtoStock_Simplify8b.jpg);
	/*DeathtoStock_Simplify8*/
	-webkit-background-size: cover;		/*conditional covers */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	font-family: Verdana, serif;
	background-repeat: no-repeat;
	background-position: center center;
	
	/*sticky footer fix? */
	min-height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {		/*solves for inheritance! */
  box-sizing: inherit;
}
.nav {
	z-index: 9999;
	width: 100%;
	padding: 0.75em; /*12*/
	margin-top: 0.9375em; /*15*/
	background-color: #89725B; /*644940*/ 
	position: fixed;
}
.nav ul {
	text-align: center;
}
.nav ul li {
	display: inline;
	color: #fff;
}
.nav a {
	text-decoration: none;
	font-weight: 600;
	color: white;
}
.nav a:hover {
    color: #d1c8c0; /* #d1c8c0; */
}


a {
	text-decoration: none;
	font-weight: 500;
	color: #FFAF38;  /*#CCAB13   #A5FFC2*/
}
a:hover {
    color: white;  /* #d1c8c0; */
}

.container {
	padding-top: 9em; /*140px*/
	padding-bottom: 9em;

}

#profile img {
	height: auto;
	width: auto;
	max-width: 25.5em; /*360px*/
	max-height: 26.5em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid white;
	/*border-radius: 50% 50%;*/
	margin-bottom: 1.25em; /*20px*/
}

.meat {
	/*background-color: #B7CA79; lightgreen*/   /*A83733 redish*/
	background-color: #A83733; 			/*C3B489 greenishtan*/
	color: white;
	opacity: 0.95;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 0.625em 1.25em 1.25em 1.25em; /*10 20 20 20*/
}
.meat h3 {
	text-align: center;
}
.meat h4 {
	text-align: center;
}
.center_cont {
	background-color: #A83733;
	color: #F0F8FF; /*white;*/
	opacity: 0.95;
	width: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 2.25em 1.25em 4.6em 1.25em; /*10 20 20 20*/

}
.center_cont #mainh {
	text-align: center;
}
#medium_padding {
	margin-top: 8em;
}
#large_padding {
	margin-top: 16em;
}

 footer {
	font-weight: 300;
	text-align: center;
	background-color: hsl(8, 70%, 54%); /*wtf?*/
	color: white;
	padding-bottom: 12px;
	padding-top: 12px;
	/*position: fixed;*/
	bottom: 0.5em;
	width: 100%;
}
/* IMPORTANT IMPORTANT Media Queries! IMPORTANT IMPORTANT OH YEAH */
/* Change if the viewport is 600px or wider */
 @media screen and (min-width: 900px) {
.container 	{			/*fabulous centers and constrains margin*/			
			padding-top: 250px;
			margin: auto;
			max-width: 800px; 
			
			}
	
#profile {
            width: 50%;
            float: right;
            padding-right: 9em;
         }
.meat {
			padding-bottom: 4.6em;
			width: 50%;
			float: left;
		}
		
footer {   /*I dont think this is needed anymore*/
		position: fixed;
		bottom: 0.5em;
		width: 100%;
}	

 }

 
 
 
 
 
 
 
 
 
 
 
